.box__chat{
    height: 84vh;
    width: 100%;
    overflow: scroll;
    box-sizing: border-box;
    padding: 0.75rem;
}
.box__chat p{
    background-color: rgb(82, 138, 223);
    padding: 0.4rem;
    width: fit-content;
    border-radius: 1rem;
    color: white;
    margin: 0.1rem;
}