.form__ {
  width: 40%;
  margin: auto;
  background-image: linear-gradient(
    to top,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  padding: 1rem;
  border-radius: 2rem;
  margin-top: 1%;
}
.container__btn {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.container__btn a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
h2 {
  margin: 0;
  padding-left: 1rem;
  color: white;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.form__container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgb(243, 231, 213, 0.7);
  margin: 0;
  padding-top: 10rem;
  position: fixed;
  top: 0;
  left: 0;
}
.exit {
  width: 2.3rem;
  position: absolute;
  right: 28.1%;
  top: 21%;
  cursor: pointer;
}
