.typing__area {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.typing__area input {
  border: none;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  width: 90%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  margin: 1rem auto;
}
