
.container__person img{
    width: 1.5rem;
    cursor: pointer;
    border-right: solid 1px;
    padding: 0.5rem;
}
.container__person{
    width: 13%;
    border: ridge 1px;
    border-radius: 30px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    position: fixed;
    right: 1%;
    top: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;  
}
.container__person p{
    display: inline;
    padding: 0.5rem;
}