.profile {
  height: 8vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
#profile__img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  height: 3rem;
}
#logout_icon {
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  cursor: pointer;
  left: 24.5%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.img__description {
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  visibility: hidden;
  width: fit-content;
  height: fit-content;
  background-color: rgb(226, 226, 226,0.5);
  font-size: 0.75rem;
  padding: 0.2rem;
}

.img__wrapper:hover .img__description {
  visibility: visible;
  opacity: 1;
}
