.result{
    position: relative;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    background: white;
    color: #53627c;
    width: 22vw;
    box-sizing: border-box;
    margin: auto;
    margin-top: 5rem;
    height: 50vh;
}
.result .city__name sup{
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: white;
    background: orange;
    font-size: 0.7rem;
}
.result .city__name span{
    font-size: 1.5rem;
}
.city__temp{
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 10px;
}
.city__temp sup{
    font-size: 2rem;
}
.none{
    display: none;
}
figure{
    margin: 0;
    text-align: center;
}