.inp__search{
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px 5px;
    border-bottom: 1px solid;
    border-radius: 1rem;
    outline: none;
    background: rgb(255, 255, 255,0.8);
    border: none;
}
button{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 1rem;
    background: red;
    color: white;
    height: 55px;
    border: none;
    outline: none;
}
h1{
    color: white;
    font-size: 3rem;
}
.search{
    text-align: center;
}