@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@700&family=Modak&display=swap');
h3 {
  font-size: 4.5rem;
  margin-bottom: 1%;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  margin: 0;
}
.sheet{
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  background-size: 100% 100vh;
}
